.contact-form-border form{
    border: 3px solid rgb(224, 210, 210);
    padding: 10%;
    border-radius: 15px;
}

.contact-form input{
    border: 1px solid rgb(224, 210, 210);
    border-radius: 10px;
}

.contact-form label{
    color: rgb(147, 147, 147);
}

.finalizar{
    padding-top: 3%;
}

.finalizar button{
    background-color: rgb(224, 210, 210);
    color: white;
    border-radius: 10px;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.finalizar button:hover{
    background-color: rgb(224, 193, 193);
    color: white;
    text-decoration: none;
}
