 nav {
     padding: 0!important;
    width: 100%;
    position: fixed!important;
    top: 0 !important;;
    z-index: 1;
}

.logo h2{
    color: #000;
}

.logo a:hover{
    text-decoration: none;
}

.navbar{
    background-color: rgb(255, 255, 255, 0.9);

}

.navbar h2{
    font-weight: lighter;
}

ul{
    margin: 0!important;
    padding: 0!important;
}

.logo img{
    width: 95px;
}

.categorias{
    width: 40%;
}

.categorias li{
    display: inline-block;
    padding: 3%;

}

.categorias a{
    text-align: center;
    text-decoration: none;
    color: rgb(8, 8, 8);
    font-size: 20px;
}

.categorias a:hover{
    color: rgb(147, 147, 147);
    text-decoration: none;
}
