.navbar{
    position: relative;
    width: 100%;
    justify-content: space-around;
    background-color: rgb(249, 244, 244);
}

.logo{
    display: inline-block;
    color: black;
}

.categorias{
    position: relative;
    display: inline-block;
    width: 40%;
    margin-left: 40%;
    text-align: right;
}

.categorias li{
    display: inline-block;
    padding: 3%;

}

.categorias a{
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.categorias a:hover{
    color: rgb(147, 147, 147);
}

